In [25]:
import pandas as pd
import re 
import json
import ast

In [26]:
# load ted.csv into a Datafarme
df = pd.read_csv('Project/TED/ted_main.csv')

In [27]:
# Convert a timestamp 'published_date' value into date object then convert the value to the corresponding weekday
from datetime import datetime
import calendar 
df['Published_day'] = df['published_date'].apply(lambda x: datetime.fromtimestamp(x).strftime('%m/%d/%Y'))
df['Pweek_day']= (pd.to_datetime(df['Published_day'])).apply(lambda d: calendar.day_name[d.weekday()])

In [28]:
df.head()

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views,Published_day,Pweek_day
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/im...",Author/educator,"['children', 'creativity', 'culture', 'dance',...",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,06/27/2006,Tuesday
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 544}, {'i...","[{'id': 243, 'hero': 'https://pe.tedcdn.com/im...",Climate advocate,"['alternative energy', 'cars', 'climate change...",Averting the climate crisis,https://www.ted.com/talks/al_gore_on_averting_...,3200520,06/27/2006,Tuesday
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 964}, {'i...","[{'id': 1725, 'hero': 'https://pe.tedcdn.com/i...",Technology columnist,"['computers', 'entertainment', 'interface desi...",Simplicity sells,https://www.ted.com/talks/david_pogue_says_sim...,1636292,06/27/2006,Tuesday
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,"[{'id': 3, 'name': 'Courageous', 'count': 760}...","[{'id': 1041, 'hero': 'https://pe.tedcdn.com/i...",Activist for environmental justice,"['MacArthur grant', 'activism', 'business', 'c...",Greening the ghetto,https://www.ted.com/talks/majora_carter_s_tale...,1697550,06/27/2006,Tuesday
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,"[{'id': 9, 'name': 'Ingenious', 'count': 3202}...","[{'id': 2056, 'hero': 'https://pe.tedcdn.com/i...",Global health expert; data visionary,"['Africa', 'Asia', 'Google', 'demo', 'economic...",The best stats you've ever seen,https://www.ted.com/talks/hans_rosling_shows_t...,12005869,06/27/2006,Tuesday

In [29]:
#creating new columns
df['Monday']=0
df['Tuesday']=0
df['Wednesday']=0
df['Thursday']=0
df['Friday']=0
df['Saturday']=0
df['Sunday']=0

In [30]:
#setting 1 only in the right cell
df.loc[df.Pweek_day == 'Monday', 'Monday'] = 1
df.loc[df.Pweek_day == 'Tuesday', 'Tuesday'] = 1
df.loc[df.Pweek_day == 'Wednesday', 'Wednesday'] = 1
df.loc[df.Pweek_day == 'Thursday', 'Thursday'] = 1
df.loc[df.Pweek_day == 'Friday', 'Friday'] = 1
df.loc[df.Pweek_day == 'Saturday', 'Saturday'] = 1
df.loc[df.Pweek_day == 'Sunday', 'Sunday'] = 1

In [31]:
#drop Pweek_day column
df.drop(['Pweek_day'], axis=1)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,url,views,Published_day,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday
0,4553,Sir Ken Robinson makes an entertaining and pro...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,...,https://www.ted.com/talks/ken_robinson_says_sc...,47227110,06/27/2006,0,1,0,0,0,0,0
1,265,With the same humor and humanity he exuded in ...,977,TED2006,1140825600,43,Al Gore,Al Gore: Averting the climate crisis,1,1151367060,...,https://www.ted.com/talks/al_gore_on_averting_...,3200520,06/27/2006,0,1,0,0,0,0,0
2,124,New York Times columnist David Pogue takes aim...,1286,TED2006,1140739200,26,David Pogue,David Pogue: Simplicity sells,1,1151367060,...,https://www.ted.com/talks/david_pogue_says_sim...,1636292,06/27/2006,0,1,0,0,0,0,0
3,200,"In an emotionally charged talk, MacArthur-winn...",1116,TED2006,1140912000,35,Majora Carter,Majora Carter: Greening the ghetto,1,1151367060,...,https://www.ted.com/talks/majora_carter_s_tale...,1697550,06/27/2006,0,1,0,0,0,0,0
4,593,You've never seen data presented like this. Wi...,1190,TED2006,1140566400,48,Hans Rosling,Hans Rosling: The best stats you've ever seen,1,1151440680,...,https://www.ted.com/talks/hans_rosling_shows_t...,12005869,06/27/2006,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2545,17,"Between 2008 and 2016, the United States depor...",476,TED2017,1496707200,4,Duarte Geraldino,Duarte Geraldino: What we're missing in the de...,1,1505851216,...,https://www.ted.com/talks/duarte_geraldino_wha...,450430,09/19/2017,0,1,0,0,0,0,0
2546,6,How can you study Mars without a spaceship? He...,290,TED2017,1492992000,3,Armando Azua-Bustos,Armando Azua-Bustos: The most Martian place on...,1,1505919737,...,https://www.ted.com/talks/armando_azua_bustos_...,417470,09/20/2017,0,0,1,0,0,0,0
2547,10,Science fiction visions of the future show us ...,651,TED2017,1492992000,1,Radhika Nagpal,Radhika Nagpal: What intelligent machines can ...,1,1506006095,...,https://www.ted.com/talks/radhika_nagpal_what_...,375647,09/21/2017,0,0,0,1,0,0,0
2548,32,In an unmissable talk about race and politics ...,1100,TEDxMileHigh,1499472000,1,Theo E.J. Wilson,Theo E.J. Wilson: A black man goes undercover ...,1,1506024042,...,https://www.ted.com/talks/theo_e_j_wilson_a_bl...,419309,09/21/2017,0,0,0,1,0,0,0
2549,8,With more than half of the world population li...,519,TED2017,1492992000,1,Karoliina Korppoo,Karoliina Korppoo: How a video game might help...,1,1506092422,...,https://www.ted.com/talks/karoliina_korppoo_ho...,391721,09/22/2017,0,0,0,0,1,0,0