In [1]:
%matplotlib inline
import numpy as np
import pandas as pd 
import scipy as sp
import sklearn as sk # data mining tools
import matplotlib.pylab as plt # plotting
import seaborn as sns # advanced plotting
import ast
import collections
import re 
import six
from sklearn.preprocessing import MinMaxScaler
pd.options.display.max_colwidth = 100
pd.options.mode.chained_assignment = None

In [2]:
df = pd.read_csv('ted_main.csv')

In [3]:
df['speaker_occupation'].fillna(df['speaker_occupation'].mode()[0], inplace = True)
###Since only 6 of them are missing, we can try to look for 
###the information by ourselves and add them to the data we have.
#df.replace({'speaker_occupation': {na: 'Water Data/Risk Wrangler'}})

In [5]:
df.head(1)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,ratings,related_talks,speaker_occupation,tags,title,url,views
0,4553,Sir Ken Robinson makes an entertaining and profoundly moving case for creating an education syst...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,"[{'id': 7, 'name': 'Funny', 'count': 19645}, {'id': 1, 'name': 'Beautiful', 'count': 4573}, {'id...","[{'id': 865, 'hero': 'https://pe.tedcdn.com/images/ted/172559_800x600.jpg', 'speaker': 'Ken Robi...",Author/educator,"['children', 'creativity', 'culture', 'dance', 'education', 'parenting', 'teaching']",Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity\n,47227110

In [94]:
df.speaker_occupation[((df.Literature != 1) & (df.Art != 1)& (df.Economy_Politics != 1)\
                      & (df.Medicine != 1)& (df.Academy != 1)& (df.Engineering_Science != 1))].value_counts()

Researcher                        5
Technology columnist              4
Playwright, activist              4
Social scientist                  4
Mechanical engineer               4
                                 ..
Educator and computing pioneer    1
Human beatbox                     1
Anti-slavery activist             1
International litigator           1
Visionary                         1
Name: speaker_occupation, Length: 1391, dtype: int64

In [8]:
df['Literature'] = 0

In [12]:
df['Art'] = 0

In [22]:
df['Economy_Politics'] = 0

In [28]:
df['Medicine'] = 0

In [35]:
df['Academy'] = 0

In [44]:
df['Engineering_Science'] = 0

In [261]:
df['Other_Occupations'] = 0

In [95]:
df.loc[(df.speaker_occupation == "Writer"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Journalist"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Author"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Philosopher"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Historian"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Poet"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Novelist"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Reporter"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Writer, activist"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Performance poet, multimedia artist"), 'Literature'] = 1
df.loc[(df.speaker_occupation == "Science writer"), 'Literature'] = 1

df.loc[(df.speaker_occupation == "Designer"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Chef"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Violinist"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Producer"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Cartoonist"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Performance poet, multimedia artist"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Photojournalist"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Singer-songwriter"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Artist"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Architect"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Photographer"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Filmmaker"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Musician"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Singer/songwriter"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Graphic designer"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Techno-illusionist"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Comedian"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Musician, activist"), 'Art'] = 1
df.loc[(df.speaker_occupation == "Sculptor"), 'Art'] = 1

df.loc[(df.speaker_occupation == "Entrepreneur"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Environmentalist, futurist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Investor and advocate for moral leadership"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Musician, activist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Economist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Activist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Philanthropist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Behavioral economist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Writer, activist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Climate advocate"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Legal activist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Futurist"), 'Economy_Politics'] = 1
df.loc[(df.speaker_occupation == "Social entrepreneur"), 'Economy_Politics'] = 1

df.loc[(df.speaker_occupation == "Psychologist"), 'Medicine'] = 1
df.loc[(df.speaker_occupation == "Neuroscientist"), 'Medicine'] = 1
df.loc[(df.speaker_occupation == "Global health expert; data visionary"), 'Medicine'] = 1
df.loc[(df.speaker_occupation == "Social psychologist"), 'Medicine'] = 1
df.loc[(df.speaker_occupation == "Surgeon"), 'Medicine'] = 1
df.loc[(df.speaker_occupation == "Physician"), 'Medicine'] = 1

df.loc[(df.speaker_occupation == "Educator"), 'Academy'] = 1

df.loc[(df.speaker_occupation == "Roboticist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Biologist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Physicist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Marine biologist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Technologist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Global health expert; data visionary"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Astronomer"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Oceanographer"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Engineer"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Computer scientist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Inventor"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Futurist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Mathematician"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Astrophysicist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Evolutionary biologist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Sound consultant"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Game designer"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Chemist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Social Media Theorist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Data scientist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Tech visionary"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Paleontologist"), 'Engineering_Science'] = 1
df.loc[(df.speaker_occupation == "Researcher"), 'Engineering_Science'] = 1

In [ ]:
df.loc[((df.Engineering_Science != 1)&(), 'Engineering_Science'] = 1

In [257]:
occ_df = df[((df.Literature != 1) & (df.Art != 1)& (df.Economy_Politics != 1)\
                      & (df.Medicine != 1)& (df.Academy != 1)& (df.Engineering_Science != 1))]
#occ_df = occ_df.reset_index(drop=True)
occ_df[['speaker_occupation', 'Engineering_Science']].head(3)

           speaker_occupation  Engineering_Science
32     Crusader against aging                    0
43                    Skeptic                    0
47  Marketer, success analyst                    0

In [265]:
df['Other_Occupations'][((df.Literature != 1) & (df.Art != 1)& (df.Economy_Politics != 1)\
                      & (df.Medicine != 1)& (df.Academy != 1)& (df.Engineering_Science != 1))] = 1

32      1
43      1
91      1
95      1
97      1
       ..
2418    1
2420    1
2428    1
2438    1
2439    1
Name: Other_Occupations, Length: 503, dtype: int64

In [256]:
dictionary = {"Author":"Literature","Actor":"Art", "researcher":"Engineering_Science",
             "Historian":"Literature", "Philosopher": "Literature", "Activist":"Economy_Politics" , "Robotics":"Engineering_Science",
             "engineer":"Engineering_Science", "composer":"Art", "Pianist":"Art", "Marketing":"Economy_Politics",
             "Public":"Economy_Politics", "fund":"Economy_Politics" , "psycho":"Medicine", "logist":"Engineering_Science",
             "computer":"Engineering_Science", "writer":"Literature", "expert":"Engineering_Science", "Industrial":"Engineering_Science",
             "artist":"Art","scientist":"Engineering_Science", "founder":"Economy_Politics", "specialist":'Engineering_Science',"music":"Art",
             "design":"Art", "physicist":"Engineering_Science", "educat":"Academy", "Mayor":"Economy_Politics", "President":"Economy_Politics",
             "art":"Art", "bio":"Engineering_Science", "tech":"Engineering_Science", "professor":"Academy", "math":"Engineering_Science",
             "cyber":"Engineering_Science", "capital":"Economy_Politics", "digit":"Engineering_Science", "entrepreneur":"Economy_Politics",
             "religi":"Economy_Politics", "genetic":"Engineering_Science", "futur":"Economy_Politics", "explorer":"Economy_Politics", 
             "journ":"Literature", "law":"Economy_Politics", "Global":"Economy_Politics", "advocate":"Economy_Politics", "company":"Economy_Politics",
             "story":"Literature", "novel":"Literature", "band":"Art", "photo":"Art", "arch":"Art", "chem":"Engineering_Science", "care":"Medicine",
             "visual":"Art", "innov":"Engineering_Science", "analy":"Engineering_Science"}

In [259]:
for keys in dictionary.keys():
    for index, row in occ_df.iterrows():
        myString = occ_df['speaker_occupation'][index].lower()
        if (myString.find(keys.lower()) > -1):
            (df.loc[(index, dictionary[keys])]) = 1

In [208]:
occ_df['speaker_occupation'][9].lower()

'pastor, author'

In [193]:
"AAA".lower().find()

'aaa'

In [181]:
for index, row in occ_df.iterrows():
    myString = occ_df['speaker_occupation'][index]
    if (myString.find('Author') == 0):
        (df.loc[(index, 'Literature')]) = 1

In [ ]:
for index, row in occ_df.iterrows():
    myString = occ_df['speaker_occupation'][index]
    if (myString.find('Author') == 0):
        (df.loc[(index, 'Literature')]) = 1

In [266]:
df.to_csv("main_dataset_occupations.csv")

In [267]:
df.head(1)

,comments,description,duration,event,film_date,languages,main_speaker,name,num_speaker,published_date,...,title,url,views,Literature,Art,Economy_Politics,Medicine,Academy,Engineering_Science,Other_Occupations
0,4553,Sir Ken Robinson makes an entertaining and profoundly moving case for creating an education syst...,1164,TED2006,1140825600,60,Ken Robinson,Ken Robinson: Do schools kill creativity?,1,1151367060,...,Do schools kill creativity?,https://www.ted.com/talks/ken_robinson_says_schools_kill_creativity\n,47227110,1,0,0,0,0,0,0

In [268]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2550 entries, 0 to 2549
Data columns (total 24 columns):
comments               2550 non-null int64
description            2550 non-null object
duration               2550 non-null int64
event                  2550 non-null object
film_date              2550 non-null int64
languages              2550 non-null int64
main_speaker           2550 non-null object
name                   2550 non-null object
num_speaker            2550 non-null int64
published_date         2550 non-null int64
ratings                2550 non-null object
related_talks          2550 non-null object
speaker_occupation     2550 non-null object
tags                   2550 non-null object
title                  2550 non-null object
url                    2550 non-null object
views                  2550 non-null int64
Literature             2550 non-null int64
Art                    2550 non-null int64
Economy_Politics       2550 non-null int64
Medicine               2550 non-null int64
Academy                2550 non-null int64
Engineering_Science    2550 non-null int64
Other_Occupations      2550 non-null int64
dtypes: int64(14), object(10)
memory usage: 478.2+ KB